@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Libre+Baskerville&display=swap');
/*  font-family: 'Libre Baskerville', serif;
    font-family: 'Crimson Text', serif;  */
body {
  padding: 10px 50px 50px;
  /* font: 18px "Garamond", serif; */
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  /* color choice from https://www.colourlovers.com/color/F3ECE2/Old_Paper */
  background-color: #f3ece2;
  /* bg from https://www.transparenttextures.com/ */
  background-image: url("/images/exclusive-paper.png");
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Libre Baskerville', serif;
}

.text-center {
  text-align: center;
}

h1 {
  text-align: center;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
  letter-spacing: 1px;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  /* font-family: "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Libre Baskerville', serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 6px;
}

form a.button, input[type=submit] {
  /* margin-left: 140px; */
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 75px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  /* font-family: "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.search-container form {
  display: flex;
  justify-content: center;
}

#search-input {
  flex-basis: 300px;
}

#search-submit {
  margin-left: 15px;
}

.book-list {
  margin: 25px auto;
  background: white;
}

.no-results {
  margin: 40px auto;
}

.footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.pagination {
  margin: 40px 0 0 0;
  text-align: center;
  font-size: 24px;
}
.pagination li {
  display: inline;
}

.pagination li a {
  border: 1px solid #019875;
  border-radius: 5px;
  padding: 3px 8px;
  text-decoration: none;
  margin-right: 5px;
}

.pagination li:last-of-type a {
  margin-right: 0;
}

.pagination li a.active, .pagination li a:hover {
  background-color: #01b189;
  color: #fff;
}

.pagination li a {
  cursor: pointer;
}

.book-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 475px;
}

.book-form p {
  margin: initial;
}

.book-form .delete {
  margin-top: 8px;
}

.delete .button {
  font-weight: 400;
}

.delete-form {
  display: flex;
  justify-content: space-evenly;
}

.no-results {
  text-align: center;
}

.error {
  color: rgb(236, 15, 15);
  text-align: center;
}

.error-message {
  text-align: center;
}

@media (min-width: 768px) {
  .book-form {
    height: 400px;
  }
}