.search-container
    form(action='/books/search' method='get')
      input#search-input(type='search' name="q" placeholder='Search for book...')
      input#search-submit(type='submit' value='Search for book')